<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Fournisseur </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new Fournisseur</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Libelle</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let p of listSec'>
        <td>{{p.idFournisseur}}</td>
        <td>{{p.code}}</td>
        <td>{{p.libelle}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary"
                  (click)="open(mymodal1,p)">Edit
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline-danger"
                  (click)="deleteSec(p.idFournisseur)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Fournisseur</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="code">Fournisseur Code</label>
        <div class="input-group">
          <input id="code" class="form-control" type="text" placeholder="Product Code"
                 [(ngModel)]="sec.code"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="libelle">Fournisseur libelle</label>
        <div class="input-group">
          <input id="libelle" class="form-control" type="text" placeholder="Product Name"
                 [(ngModel)]="sec.libelle"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addSec(sec)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>


